<div id="lobby">
    <div class="staging-panel">
        <h2>Lobby</h2>
        <span class="error" ng-bind="errorMessage"></span>
        Status: <span ng-bind="getStatusName(curStatus)"></span><br>

        <div ng-if="curStatus === status.UNAUTHENTICATED">
            <input type="text" placeholder="Name" ng-model="fields.username">
            <button ng-click="authenticate(fields.username)">Join Lobby</button>
        </div>

        <div ng-if="curStatus === status.READY">
            Active Room: <span ng-bind="activeRoom.getName()"></span> (<span ng-bind="activeRoom.getUsers().length"></span> users)<br>
            <!--Users: <span ng-repeat="user in activeRoom.getUsers() track by $index" ng-bind="user.getName() + ', '"></span><br>-->
            User: <span ng-bind="user.getName()"></span><br>

            <input type="text" ng-model="fields.matchLabel" placeholder="Match Name">
            <button ng-click="createMatch(fields.matchLabel)">Create Match</button>

            <div class="match-list">
                <h4>Open Matches</h4>
                <select size="5"
                        title="Matches"
                        name="matchSelect"
                        ng-model="fields.selectedMatch"
                        ng-options="match as match.getLabel() for match in matches track by match.getId()">
                    <option value="" disabled selected ng-if="matches.length === 0">No Matches</option>
                </select>
                <button ng-disabled="!fields.selectedMatch" ng-click="joinMatch(fields.selectedMatch.getName())">Join</button>
            </div>
        </div>

        <div ng-if="curStatus === status.STAGING">
            <staging-match match="activeRoom"></staging-match>
        </div>
    </div>

    <div class="diagrams">
        <div class="diagram-controls">
            <label>View Diagram:</label>
            <select size="2" ng-model="fields.activeDiagram">
                <option value="ui">UI Structure</option>
                <option value="api">API Structure</option>
            </select>
        </div>
        <p class="description">
            The Pulsar API server is designed with the goal of using object-oriented design to achieve
            data synchronization across clients. Key features include integration with Angular, extensibility,
            and selective data syncing that allows clients to maintain object references. Each of these
            features is important to integrating with the existing Pulsar apps to introduce network-based
            behavior.
        </p>
        <img ng-if="fields.activeDiagram === 'api'" src="assets/apiStructure.png" alt="API Class Diagram">
        <img ng-if="fields.activeDiagram === 'ui'"  src="assets/uiStructure.png" alt="API Class Diagram">
    </div>
</div>