<div id="lobby">
    <h2>Lobby</h2>
    <span class="error" ng-bind="errorMessage"></span>
    Status: <span ng-bind="curStatus"></span><br>

    <div ng-if="curStatus === status.UNAUTHENTICATED">
        <input type="text" placeholder="Name" ng-model="fields.username">
        <button ng-click="authenticate(fields.username)">Join Lobby</button>
    </div>

    <div ng-if="curStatus === status.READY">
        Active Room: <span ng-bind="activeRoom.getName()"></span><br>
        User: <span ng-bind="user.getName()"></span><br>

        <input type="text" ng-model="fields.matchLabel" placeholder="Match Name">
        <button ng-click="createMatch(fields.matchLabel)">Create Match</button>

        <div>
            <h4>Matches</h4>
            <select title="Matches" name="matchSelect" ng-model="fields.selectedMatch" ng-options="match as match.getLabel() for match in matches track by match.getId()"></select>
            <button ng-disabled="!fields.selectedMatch" ng-click="joinMatch(fields.selectedMatch.getName())">Join</button>
        </div>
    </div>

    <div ng-if="curStatus === status.STAGING">
        <staging-match match="activeRoom"></staging-match>
    </div>

</div>