<div id="lobby">
    <div class="staging-panel">
        <a class="client-link" href="https://thunderlab.net/IGME-330-stage/pulsar/index.html#/lobby">
            Warp Multiplayer Client
        </a>

        <a class="client-link" href="https://docs.google.com/a/g.rit.edu/document/d/1OeuKoYsFVkNnHCGd6qw6TcEa_baNn1-0fJeXWc8WwWk/edit?usp=sharing">
            Documentation
        </a>
    </div>

    <div class="diagrams">
        <div class="diagram-controls">
            <label>View Diagram:</label>
            <select size="2" ng-model="fields.activeDiagram">
                <option value="ui">UI Structure</option>
                <option value="api">API Structure</option>
            </select>
        </div>
        <p class="description">
            The Pulsar API server is designed with the goal of using object-oriented design to achieve
            data synchronization across clients. Key features include integration with Angular, extensibility,
            and selective data syncing that allows clients to maintain object references. These features allowed
            network integration with my existing canvas game engine (Mallet).
        </p>
        <img ng-if="fields.activeDiagram === 'api'" src="assets/apiStructure.png" alt="API Class Diagram">
        <img ng-if="fields.activeDiagram === 'ui'"  src="assets/uiStructure.png" alt="API Class Diagram">
    </div>
</div>